@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
}



.material{
    background: url(backgrounds/bg2.png);
    background-blend-mode: lighten;
    background-color: rgba(125, 46, 185, 0.45);
    background-position: center;
    width: 1440px;
    height: 943px;
}


.icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.icon-component{background-image: url(icons/ICON-components.png);}
.icon-download{background-image: url(icons/ICON-download.png);}
.icon-twitter{background-image: url(icons/ICON\ Twitter.png);}
.icon-facebook{background-image: url(icons/ICON\ Facebook.png);}
.icon-instagram{background-image: url(icons/ICON\ Instagram.png);}

button{
    background-color: #999999;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 41px;
    width: 112px;
    text-transform: uppercase;
    padding: 0 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

button.primary{
    background-color: #9C27B4;
    width: 111px;
}

button.info{
    background-color: #03A9F4;
    width: 86px;
}

button.success{
    background-color: #4CAF50;
}

button.warning{
    background-color: #FBC02D;
    width: 114px;
}

button.danger{
    background-color: #F44336;
    width: 114px;
}

h1, h2, h3, h4, h5, h6{
    display: block;
    font-weight: 300;
    font-family: 'Roboto';
}

h1{
    font-size: 60px;
    line-height: 70px;
}

h2{
    font-size: 41px;
    line-height: 48px;
}

h3{
    font-size: 29px;
    line-height: 34px;
}

h4{
    font-size: 20px;
    line-height: 23px;
}

h5{
    font-size: 20px;
    line-height: 23px;
}

h6{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.forma{
    margin: 0 33%;
    display: flex;
    flex-direction: column;
    width: 100px
}

.avatar{
    width: 170px;
    height: 170px;
}

.avatar.beard{
    background-size: contain;
    border: solid;
    border-radius: 100px;
    background-image: url(avatars/Avatar.jpg);
    background-size: contain;
}