<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Mājaslapa</title>
        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

    <body>
        <main>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="">Sākums</a></li>
                        <li><a href="">Kontakti</a></li>
                        <li><a href="">Par mums</a></li>
                    </ul>
                </nav>

                <div class="content clearfix">

                    <div class="main-content">
                        CONTENT
                    </div>
                    
                    <div class="side">
                        SIDE BAR
                    </div>
                </div>
                <footer>
                    Copyright 2020 Mājaslapa
                </footer>
            </div>
        </main>
    </body>
</html>