*{margin: 0}

.team{
    display: grid;
    height: 794px;
    width: 100%;
    margin: 10px;
    background-color: teal;
    justify-content: center;
}

.gigi{
    margin: 10px;
    width: 200px;
    height: 200px;
}

.one{
    background-color: red;
}

.two{
    background-color: blue;
}

.three{
    background-color: purple;
}

@media screen and (min-width: 1280px){
    div.team{
        display: flex;
        flex-wrap: wrap;
    }
}