<!DOCTYPE html>
<html>
    <head>
        <meta content="charset=UTF-8 text/html" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, inistial-scale=1, user-scalabl=no"/>

        <title></title>

        <link rel="stylesheet" href="reset.css" type="text/css"/>
        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

    <body>
        <header>
            <nav>
               <div class="nav-bar">
                    <div class="logo logo-tim"></div>
                    <span class="tim">creative tim</span>
                    <div class="nav-bar2">
                        <div class="icon icon-component"></div>
                        <p>components</p>
                        <div class="icon icon-download"></div>
                        <p>download</p>
                        <div class="icon icon-twitter"></div>
                        <div class="icon icon-facebook"></div>
                        <div class="icon icon-instagram"></div>
                    </div>
               </div>
               <div class="nav-bar3">material kit.</div>
               <div class="nav-bar4">a badass bootstrap ui kit based on material design.</div>
            </nav>
        </header>

        <main>
            
            <div class="elements">basic elements</div>
            <div class="text-buttons">buttons</div>
            <div class="pickstyle">Pick your style</div>

            <button class="def108">default</button>
            <button class="roundb"> round</button>
            <button class="with-iconb">with icon</button>
            <button class="simpleb"> </button>
            <button class="simplenob">simple</button>

            <div class="pickstyle size">Pick your size</div>

            <button class="x-small">x-small</button>
            <button class="small">small</button>
            <button class="regular">regular</button>
            <button class="large">large</button>

            <div class="pickstyle size"> Pick your color</div>

            <button class="defbutn">default</button>
            <button class="primary">Primary</button>
            <button class="info">info</button>
            <button class="success">success</button>
            <button class="warning">warning</button>
            <button class="danger">danger</button>

            <div class="text-buttons links">links</div>

            <a href="" class="link link-default">default</a>
            <a href="" class="link link-primary">Primary</a>
            <a href="" class="link link-info">info</a>
            <a href="" class="link link-success">success</a>
            <a href="" class="link link-warning">warning</a>
            <a href="" class="link link-danger">danger</a>

            <div class="inputs">
                <h3>inputs</h3>
            </div>



            
        </main>
    </body>
</html>