@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    background: url(backgrounds/bg2.png);
    background-blend-mode: lighten;
    background-color: rgba(125, 46, 185, 0.45);
    background-position: center;
    max-width: 1440px;
    width: 100%;
    height: 943px;
    font-family: 'Roboto';
    border-bottom: solid black 4px;
    margin-left: 1px;
    margin-top: 4px;
    margin-right: -1px;

}

main{
    height: 7121px;
    max-width: 1414px;
    width: 100%;
    border-radius: 5px;
    margin-top: -41px;
    margin-left: 14px;
    margin-right: 12px;
    background-color: white;
}

nav{
    display: flex;
    flex-wrap: wrap;
    max-width: 1167px;
    width: 100%;
    height: 435px;
    margin: 30px 139px;
    font-weight: 300;
    color:white;
}

.barnav{
    display: flex;
    height: 50px;
}

.logo{
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-tim{
    
    background-image: url(logos/Logo-tim.png);
}

.tim{
    padding-top: 7px;
    font-size: 18px;
    padding-left: 8px;
    line-height: 21px;
    width: 70px;
    height: 50px;
    text-transform: capitalize;
}

.nav-bar{
    display: flex;
    width: 100%;
    height: 50px;
}

.nav-bar2{
    position: relative;
    display: flex;
    margin-left: auto;
    padding: 14px 0;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    height: 50px;
}

.nav-bar3{
    font-weight: bold;
    font-size: 64px;
    text-transform: capitalize;
    line-height: 75px;
    height: 75px;
    width: 353px;
    margin-left: 404px;
    margin-top: 229px;
    margin-bottom: 12px;
}

.nav-bar4{
    width: 449px;
    height: 57px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 358px;
}

p{
    margin-left: 10px;
    padding-top: 5px;
}


.icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.icon-component{
    margin-right: -5px;
    background-image: url(icons/ICON-components.png);}
.icon-download{
    margin-left: 30px;
    background-image: url(icons/ICON-download.png);}
.icon-twitter{
    width: 19px;
    margin-left: 25px;
    background-image: url(icons/ICON\ Twitter.png);}
.icon-facebook{
    width: 18px;
    margin-left: 24px;
    background-image: url(icons/ICON\ Facebook.png);}

.icon-instagram{
    width: 18px;
    margin-left: 25px;
    background-image: url(icons/ICON\ Instagram.png);}


/*              Main            */

.elements{
    display: inline-block;
    color: #3C4858;
    margin-top: 41px;
    margin-left: 121px;
    font-size: 41px;
    text-transform: capitalize;
    line-height: 48px;
    font-family: 'Roboto';
    font-weight: 300;
}

.text-buttons{
    margin: 27px 0 0 122px;
    font-size: 29px;
    line-height: 34px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Roboto';
}

.text-buttons.links{
    margin: 47px 0 39px 125px;
}


.pickstyle{
    color: #777777;
    padding-top: 9px;
    margin-left: 122px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    text-transform: none;

}

.pickstyle.size{
    margin-left: 125px;
    line-height: 29px;
    margin-top: 54px;
}



button{
    background-color: #9C27B4;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 41px;
    width: 112px;
    text-transform: uppercase;
    padding: 0 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
    font-family: 'Roboto';

}

button.def108{
    margin: 27px 0 0 324px;
    width: 108px;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
}

button.roundb{
    width: 99px;
    border-radius: 30px;
    margin-left: 3px;
}

button.with-iconb{
    width: 140px;
    border-radius: 30px;
    margin-left: 3px;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);

}

button.simpleb{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 2px;
    padding: 15px;
}

button.simplenob{
    background-color: white;
    color: #9c27b0;
    box-shadow: none;
    width: 42px;
    line-height: 14px;
    padding:0;
    margin-left: 31px;
}

button.x-small{
    width: 70px;
    height: 23px;
    margin: 40px 0 0 324px;
    font-size: 12px;
    line-height: 23px;
    padding: 0;
}

button.small{
    width: 75px;
    padding: 0;
    height: 26px;
    font-size: 11px;
    line-height: 13px;
    margin-left: 1px;
}

button.regular{
    width: 112px;
    height: 41px;
    font-size: 12px;
    line-height: 14px;
    margin-left: 2px;
    padding: 0;

}

button.large{
    width: 115px;
    height: 54px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 3px;
    padding: 0;
}

button.defbutn{
    margin-left: 322px;
    margin-top: 26px;
    background-color: #999999;
}

button.primary{
    margin-left: 2px;
    background-color: #9C27B4;
    width: 111px;
}

button.info{
    margin-left: 1px;
    background-color: #03A9F4;
    width: 86px;
}

button.success{
    background-color: #4CAF50;
}

button.warning{
    margin-left: 4px;
    background-color: #FBC02D;
    width: 114px;
}

button.danger{
    margin-left: -1px;
    background-color: #F44336;
    width: 114px;
}

a.link{
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.link-default{
    color:#999999;
    margin-left: 365px;
}

.link-primary{
    margin-left: 70px;
    color: #9C27B4;
}

.link-info{
    color: #03A9F4;
    margin-left: 64px;
}

.link-success{
    color: #4CAF50;
    margin-left: 63px;
}

.link-warning{
    color: #FBC02D;
    margin-left: 67px;
}

.link-danger{
    color: #F44336;
    margin-left: 66px;
}

.inputs{
    width: 1158px;
    height: 203px;
    text-transform: capitalize;
    margin: 62px 0 0 125px;
}


h1, h2, h3, h4, h5, h6{
    display: block;
    font-weight: 300;
    font-family: 'Roboto';
}

h1{
    font-size: 60px;
    line-height: 70px;
}

h2{
    font-size: 41px;
    line-height: 48px;
}

h3{
    font-size: 29px;
    line-height: 34px;
}

h4{
    font-size: 20px;
    line-height: 23px;
}

h5{
    font-size: 20px;
    line-height: 23px;
}

h6{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.forma{
    margin: 0 33%;
    display: flex;
    flex-direction: column;
    width: 100px
}

.avatar{
    width: 170px;
    height: 170px;
}

.avatar.beard{
    background-size: contain;
    border: solid;
    border-radius: 100px;
    background-image: url(avatars/Avatar.jpg);
    background-size: contain;
}